.vscode
.mypy_cache
.pytest_cache
.ipynb_checkpoints
__pycache__
.idea
.DS_Store

.coverage
.coverage.*
coverage.xml

datasets
checkpoints
lightning_logs

build
dist
sdist
*.egg-info

.env
.venv
env
venv

*.ipynb
*.*g
*.gif
*.csv
*.zip
*.gz
*.pt
*.pkl
